'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
'*.pyc'  #don't need pyc files
